.check{
  width: 17px;
  height: 17px;
  border: 1px solid yellow;
  border-radius: 5px;
  cursor: pointer;
}

.check:before {
  content: url('./checkmark.svg');
  position: relative;
  top: -4px;
  fill: red;
  width: 5px;
  height: 5px;
}


